/* 
универсальный селектор
селектор id
селектор тега
селектор класса
селектор атрибута
селектор нащадка
селектор дитини
 */
*{
   margin: 0;

}
h1{

    display: block;
    list-style-type: disc;
}
/* селектор тега */
h1{
    color:teal ;
}
p{
    color: brown;
}